<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title%></title>
    <h1>this is the home page</h1>
    <% if(locals.user){%>
        <form action="post/create-post" method="post">
            <textarea required name="postContent" cols="30" rows="3"></textarea>
            <input type="submit" , value="post">
        </form>
    <%}%>
    <% for(post of allPosts) {%>
        <p> 
            <% if(locals.user && (locals.user.id == post.user?.id)){%>
            <small>
                <a href="/post/delete-post/<%=post.id%>">delete post</a>
            </small>
            <% } %>
            <li>
                <%= post.content%> 
            </li>
            <li>
                <%= post.user?.name%>
            </li>
            <div class="post-comments">
                <ul>
                    <% for( comment of post.comments){%>
                    <p>
                        <%= comment.content %>
                        <br>
                        <small>
                            <%= comment.user.name %> <% if(locals.user && (locals.user.id==comment.user?.id)){%>
                                <small>
                                    <a href="/comments/delete-comment/<%=comment.id%>"> delete Comment </a>
                                </small>
                                <% } %>
                        </small>
                    </p>
                    <%}%>
                </ul>
            </div>


        </p>
        <div class="post-comment">
            <% if(locals.user){%>
                comment..
                <form action="<%=`/comments/create-comment?postId=${post._id}`%>" method="post">
                    <textarea required name="comment" cols="30" rows="1"></textarea>
                    <input type="submit" , value="post">
                </form>
            <%}%>
        </div>
    <%}%>    
</head>
<body>
    
</body>
</html>